* {
    box-sizing: border-box;
}

body {
    background: #fafafa;
    color: #444;

    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.5;

    max-width: 60em;
    padding: 4em 1em;
    margin: 2em auto;
}

a {
    color: #09c;
}
